@import url(https://fonts.googleapis.com/css?family=Courgette);

body {
  padding: 0px;
  margin: 0px;
}

nav {
  width: 100%;
  background-color: rgba(194, 196, 76, 1);
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  font-family: 'Courgette';
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.pad {
  width: 200px;
}

#board {
  width: 100%;
  background-color: rgb(215, 215, 130);
  min-height: calc(100vh - 40px);
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  overflow: scroll;
}

.list {
  width: 280px;
  background-color: rgb(246, 245, 221);
  margin: 20px 10px;
  border-radius: 4px;
}

.list-header {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  font-family: 'Helvetica';
  font-weight: 600;
  color: rgb(65, 66, 59);
  font-size: 16px;
}

.new-list input, .change-list-title input, .new-card input, .change-card-title input {
  width: 250px;
  margin: 10px;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
}

.new-card input, .change-card-title input {
  font-size: 14px;
}

.change-card-title input {
  width: 100%;
}

.fa-trash:hover, .fa-times:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card {
  width: 86%;
  background-color: rgb(245, 243, 78);
  margin: 5%;
  font-size: 16px;
  font-family: Helvetica;
  padding: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-contents {
  display: flex;
  justify-content: space-between;
}

#login-dropdown-list {
  position: absolute;
  top: 40px;
  left: -132px;
}

#login-buttons .login-button {
  background: rgb(244, 238, 170);
  border: none;
  color: #000;
  font-weight: 600;
}

#login-buttons .login-button:hover {
  background: rgb(244, 238, 170);
  opacity: 0.8;
}

/* ========================== LINKS ================================ */

#login-buttons a {
  text-decoration: none;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
